.key {
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;

  &__key {
    border: 1px solid $primary-color;

    &--special {
    }
  }
}
