html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 20px 0;

  background: $main-bg-color;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
