$base-color: rgba(13, 17, 16, 1);

$primary-color: #4cac8a;
$primary-color--dark: rgba(12, 47, 50, 1);

$main-bg-color: linear-gradient(
  107deg,
  rgba(13, 17, 16, 1) 0%,
  rgba(12, 47, 50, 1) 100%
);
$assets: "~assets";
